@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Permanent+Marker&family=Sriracha&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: white;
}


h1 {
	font-family: "Livvic", sans-serif;
	font-weight: 400;
	font-size: 25px;
	color: black;
	text-decoration: none;
}

.links li, a, button {
	font-family: "Livvic", sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: black;
	text-decoration: none;

}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px 8%;
}

h1 {
	cursor: pointer;
}

h1:hover {
	color: #ff5757;
}

.links {
	list-style: none;
}

.links li {
	display: inline-block;
	padding: 0px 20px;
}

.link, li, a {
	transition: all 0.3s ease 0s;
}

ul.links > li > a:hover {
	color: #ff5757;
}

button {
	padding: 10px 25px;
	border: none;
	background-color: #ff5757;
	border-radius: 20px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover {
	background-color: #f44949;
}

/* design */

html, body {
    height: 100%;
}

div.first > img {
    background-color: brown;
    height: 100%;
}


div.first > p#a1 {
    font-family: "Livvic";
    font-size: 100px;
    font-weight: 400;
    top: 20%;
    left: 20%;
    position: absolute;
    background-color: transparent;
}

div.first > p#a2 {
    font-family: "Livvic";
    font-size: 100px;
    font-weight: 400;
    color: #ff5757;
    top: 20%;
    left: 50%;
    position: absolute;
    background-color: transparent;
}

div.first > p#a3 {
    font-family: "Livvic";
    font-size: 20px;
    font-weight: 400;
    color: black;
    top: 45%;
    left: 25%;
    right: 50%;
    position: absolute;
    background-color: transparent;
}

div.first > i {
    top: 45%;
	left: 50%;
}













